<!-- Login if you are an authenticated user. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the login page for the flight website.">
    <link rel="stylesheet" href="../cessa css/weshouldfly.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="icon" type="image" href="../images/webicon_plane.png">

    <script src="../js/bootstrap.min.js"></script>

    <title>FlyPal Login Page</title>
</head>
<body class="login_body">
    <div class="login_box">
        <form action="" id="login_form">
            <h3 id="login_form_head">Login</h3>
            <hr>
            <input type="email" placeholder="Email Address" id="login_form_email">
            <br>
            <input type="password" placeholder="Password" id="login_form_password">
            <br>
            <button id="login_button"><a href="./auth_home_page.html">Login</a></button>
            <p>Not a member? <a href="./register.html">Signup</a></p>
        </form>
    </div>
</body>
</html>