<!-- To make use of this website, you must register at any given point in time to access information -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the registration page for the flight website.">
    <link rel="stylesheet" href="{% static 'cessa css/flypal.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image" href="{% static 'images/webicon_plane.png' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %} FlyPal Registration Page {% endblock %}</title>
</head>
<body class="register_body">
    <div class="register_box">
        <form action="" method="post" id="register_form">
            {% csrf_token %}
            {{form}}
            <h3 id="register_form_head">SignUp</h3>
            <hr>
            <input type="email" placeholder="Email Address" name="email" id="register_form_email">
            <br>
            <input type="password" placeholder="Password" name="password1" id="register_form_password">
            <br>
            <input type="password" placeholder="Confirm Password" name="password2" id="register_form_c_password">
            <br>
            <button id="login_button">Signup</button>
            <p>Already a member? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</body>
</html>